
.AddFolderItem{
  list-style: none;
}

.addFolderBtn {
  display: block;
  padding: 11px 22px;
  border: 1px solid gray;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  list-style: none;
  width: 100%;
  } 

